<h2 class="text-center text-primary">Add Item To Bag</h2><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <form>
        Name : <input type="text" name="name" value="" class="form-control" [(ngModel)]="studObj.name" >
        Contact : <input type="text" name="contact" value="" class="form-control" [(ngModel)]="studObj.contact">
        Address : <input type="text" name="marks" value="" class="form-control"  [(ngModel)]="studObj.address">&nbsp;
		 <input type="hidden" name="id" [(ngModel)]="studObj.id"> <input type="button"  value="Add" class="btn btn-primary" (click)="submit(studObj)">
      </form>
    </div>
    <div class="col-md-8">
      <app-cart [data] = "studCollection" (editCart)= "delete($event)" (deletecart)= "edit($event)" ></app-cart>
    </div>
  </div>
</div>
<ng-template #nodatafound>
<h6 class="text-center">No Data Found</h6>
</ng-template>
